<h1>Lista de personagens de Ricky e Morty</h1>
<ul>
    {{#each reading}}
        <div>
            <h2>Nome:{{this.name}}</h2>
            <p>Genêro:{{this.gender}}<p>
            <p>Status:{{this.status}}</p>


        </div>
    {{/each}}

</ul>