<h1>Lista de personagens de Ricky e Morty</h1>
<ul>
    {{#each reading}}
        <div class="container">
            <h2 class="img"><img src="{{this.image}}"></h2>
            <div class="infos">
                <h3>Nome: {{this.name}}</h3>
                <p>Genêro: {{this.gender}}<p>
                <p>Status: {{this.status}}</p>
            </div>

        </div>
    {{/each}}

</ul>